body {
  width: 1519.2px;
  box-sizing: border-box;
  height: 700px;
  color: #000;
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
.header {
  width: 990px;
  height: 35px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.header .reg {
  float: left;
  padding: 0 6px;
}
.header .reg > a {
  display: inline-block;
  width: 60px;
  height: 35px;
  line-height: 35px;
  margin-right: 7px;
  color: #6c6c6c;
}
.header .reg > a:last-child {
  width: 48px;
}
.header .reg .active {
  color: #f22e00;
}
.header .phonetb,
.header .webacc {
  display: inline-block;
  width: 60px;
  height: 35px;
  line-height: 35px;
  padding: 0 6px;
  color: #6c6c6c;
}
.header ul {
  float: right;
}
.header ul li {
  float: left;
  padding: 0 10px;
  position: relative;
}
.header ul li .icon-gouwuche {
  color: #f40;
}
.header ul li .icon-shoucang {
  color: #9c9c9c;
  font-weight: 900;
}
.header ul li a {
  display: inline-block;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.header ul li .dropD {
  position: absolute;
  right: 0px;
  top: 18px;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #bbb transparent transparent;
}
.header ul li:hover .dropD {
  transform: rotateX(180deg);
  position: absolute;
  right: 0px;
  top: 8px;
}
.navreg {
  width: 990px;
  height: 83px;
  margin: 0 auto;
  padding: 20px 0;
  color: #3c3c3c;
}
.navreg h1 {
  float: left;
  width: 106px;
  height: 43px;
  position: relative;
}
.navreg h1 .icon-taobaowang {
  position: absolute;
  top: -12px;
  font-size: 36px;
  font-weight: 400;
  color: #ff4001;
}
.navreg h1 .icon-taobao {
  position: absolute;
  top: -2px;
  font-size: 50px;
  font-weight: 400;
  color: #ff4001;
}
.navreg h2 {
  float: left;
  height: 43px;
  line-height: 43px;
  margin-left: 8px;
  font-size: 22px;
  font-family: '\5FAE\8F6F\96C5\9ED1', '\534E\6587\7EC6\9ED1', '\9ED1\4F53', arial;
  font-weight: 400;
  vertical-align: middle;
}
.container {
  width: 990px;
  height: 458px;
  margin: 0 auto;
  padding: 50px 0 0;
  border-bottom: 1px solid #ddd;
}
.container .cblank {
  width: 990px;
  height: 83px;
  box-sizing: border-box;
  padding: 20px 0;
}
.container .reg-form {
  width: 380px;
  height: 305px;
  margin: 10px auto 0;
}
.container .reg-form .tel {
  width: 380px;
  height: 36px;
}
.container .reg-form .tel .cot1 {
  float: left;
  font-size: 14px;
  margin-right: 4px;
  color: #111;
  height: 36px;
  line-height: 36px;
}
.container .reg-form .tel .telp {
  float: left;
  width: 308px;
  height: 34px;
  min-height: 34px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}
.container .reg-form .tel .telp .area {
  display: inline-block;
  width: 127px;
  height: 34px;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 34px;
  font-size: 14px;
  color: #000;
  border-right: 1px solid #d6d6d6;
}
.container .reg-form .yanzm {
  width: 380px;
  height: 36px;
  margin-top: 20px;
}
.container .reg-form .yanzm .cot2 {
  float: left;
  font-size: 14px;
  margin-right: 4px;
  color: #111;
  width: 57.6px;
  height: 36px;
  text-align: right;
  line-height: 36px;
}
.container .reg-form .yanzm .yanzem {
  float: left;
  width: 308px;
  height: 34px;
  min-height: 34px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}
.container .reg-form .yanzm .yanzem input {
  float: left;
  width: 231px;
  height: 30px;
  text-indent: 3px;
  line-height: 30px;
  padding: 2px 0 2px 0;
}
.container .reg-form .yanzm .yanzem .yanzzm {
  float: left;
  width: 72px;
  height: 30px;
  line-height: 30px;
  color: #ff5000;
  font-size: 14px;
  padding: 2px 0 2px 0;
}
.container .reg-form .btn {
  width: 310px;
  height: 36px;
  margin: 50px auto 60px;
  box-sizing: border-box;
  margin-left: 60px;
  opacity: 0.5;
  border-radius: 3px;
  background-image: linear-gradient(90deg, #f90, #ff5000);
}
.container .reg-form .btn a {
  width: 320px;
  height: 36px;
}
.container .reg-form .btn a span {
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 36px;
}
.container .reg-form .regcon {
  width: 310px;
  height: 34px;
  margin: 0 60px;
}
.container .reg-form .regcon input {
  display: inline-block;
  vertical-align: top;
  width: 14px;
}
.container .reg-form .regcon p {
  display: inline-block;
  width: 285px;
  height: 34px;
  color: #666;
  font-size: 13px;
  margin-left: 5px;
  margin-bottom: 50px;
  line-height: 16px;
}
.container .reg-form .regcon p > a {
  font-size: 13px;
  color: #ff5000;
}
.container .reg-form .regcon > a {
  display: inline-block;
  width: 310px;
  text-align: right;
  font-size: 12px;
  color: #ff5000;
}
.footer {
  width: 990px;
  margin: 0 auto;
}
.footer .footer-hd p {
  height: 27px;
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
}
.footer .footer-hd p a {
  float: left;
  color: #6c6c6c;
  line-height: 27px;
  margin: 0 4px;
}
.footer .footer-hd p b {
  float: left;
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer .footer-bd p:nth-child(1) {
  height: 27px;
  line-height: 27px;
}
.footer .footer-bd p:nth-child(1) a {
  float: left;
  color: #6c6c6c;
  line-height: 27px;
  margin: 0 4px;
}
.footer .footer-bd p:nth-child(1) em {
  float: left;
  color: #9c9c9c;
  line-height: 27px;
  margin-left: 30px;
}
.footer .footer-bd p:nth-child(2) {
  height: 27px;
  line-height: 27px;
  margin-bottom: 8px;
}
.footer .footer-bd p:nth-child(2) span {
  float: left;
  line-height: 27px;
  color: #9c9c9c;
}
.footer .footer-bd p:nth-child(2) span a {
  line-height: 27px;
  color: #000;
}
.footer .footer-bd p:nth-child(2) b {
  float: left;
  line-height: 27px;
  color: #ddd;
  margin: 0 3px;
}
.footer .footer-toy {
  height: 5px;
}
